<% content_for(:title) { "Twitter" } %>

<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [580, 120]
  Dashing.numColumns = 3
  Dashing.numRows = 12
});
</script>

<div class="gridster">
  <ul class="section">

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="twitter_hashtags_title" data-view="Text" style="background-color:#794bc4;" data-title="GoC Twitter Hashtags" data-text="Recent Tweets for Government of Canada Topics" data-moreinfo=""></div>
    </li>

    <li data-row="3" data-col="1" data-sizex="1" data-sizey="6">
      <div data-id="twitter_hashtag_terms" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets @sourceclear" ></div>
      <i class="icon-twitter icon-background"></i>
    </li>
    
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="4">
      <div data-view="TwelveHourClock"></div>
    </li>
    
    <li data-row="5" data-col="2" data-sizex="1" data-sizey="4">
      <div data-id="forecast" data-view="Forecast" data-title="Ottawa Weather Forecast" ></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="4">
      <div data-id="twitter_digiacad_en" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets @sourceclear" ></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="5" data-col="3" data-sizex="1" data-sizey="4">
      <div data-id="twitter_digiacad_fr" data-view="Comments" style="background-color:#00afd7;" data-moreinfo="Tweets @sourceclear" ></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="6" data-col="1" data-sizex="1" data-sizey="3">
      <div data-id="ta_tweets" data-view="NumberPercentage" data-title="Tweets" style="background-color:#47bbb3;" data-moreinfo="28 day summary"></div>
    </li>

    <li data-row="6" data-col="2" data-sizex="1" data-sizey="3">
      <div data-id="ta_mentions" data-view="NumberPercentage" data-title="Mentions" style="background-color:#47bbb3;" data-moreinfo="28 day summary"></div>
    </li>
    
    <li data-row="6" data-col="3" data-sizex="1" data-sizey="3">
      <div data-id="ta_followers" data-view="NumberPercentage" data-title="Followers" style="background-color:#47bbb3;" data-moreinfo="28 day summary"></div>
    </li>

  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>
